# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
.env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Local data (don't upload)
assets/
test_images/

# Outputs (don't upload)
outputs/
out_day*/
*.log
